mixin errorMsg(msg)
 .alert.alert-danger
  strong Danger!
  |  msg

mixin question(question)
    div.blue-box-border(style='margin-bottom: 1.5em;')
            p
            | Question title: 
            a(href='/question/' + question._id)=question.title
            p.text-muted
            | Asked by 
            -ime=question.author
            -potDoUporProfila='/user/'+ime
            a(href=potDoUporProfila)
                span=question.author
            |  on 
            span=moment(question.date).format('DD/MM/YYYY')
            |
            hr
            .row
                .col-md-1.col-lg-1.col-sm-1.col-xs-1
                    i.material-icons
                        | question_answer
                    span=question.numberOfAnswers 
