extends layout

block content
    .container
      .page-header
        h1.header-style Add an answer
      .alert.alert-info.blue-box-border(role='alert')
        p.lead
          | Always be nice to other users, do not use bad words and always respect their opinions. Thanks! 
          span.material-icons sentiment_satisfied_alt
      .blue-box-border
        form(action='', method='post', role='form')
          .form-group
            label.lead(for='body_text') Answer:
            textarea#text.form-control(type='text', rows='6', placeholder='Type your answer', required='true',  maxlength='200', name='text')
          .checkbox
            label
              input#anonymous(type='checkbox', name='anonymous')
              | Answer anonymously
          button.btn.btn-primary(type='submit') Submit answer