extends layout

block content
  .container
    .page-header
      h1.header-style Add a comment
    .alert.alert-info.blue-box-border(role='alert')
      p.lead
        | Always be nice to other users, do not use bad words and always respect their opinion. Thanks! 
        span.material-icons sentiment_satisfied_alt
    .blue-box-border
      form(action='', method='post', role='form')
        .form-group
          label.lead(for='body_text') Comment:
          textarea#text.form-control(type='text', rows='6', placeholder='Type your comment', required='true', maxlength='200', name='text')
        .checkbox
          label
            input#anonymous(type='checkbox', name='anonymous')
            | Comment anonymously
        button.btn.btn-primary(type='submit') Submit comment
  hr