extends layout

block content
    .container
      .page-header
        h1.header-style Ask a question
      form.blue-box-border(action='', method='post', role='form')
        .form-group
          label.lead(for='title') Question title:
          input#title.form-control(type='text', placeholder='Type your question', name='title', required='true', maxlength='60')
        .checkbox
          label
            input#anonymous(type='checkbox', name='anonymous')
            | Ask anonymously
        .form-group
          label.lead(for='title')
            | Tags 
            span.text-muted (optional)
            | :
          input#questionTags.form-control(type='text', placeholder='Example: cooking lifehack', name='questionTags')
        button.btn.btn-primary(type='submit') Submit question
      hr