extends layout

include _include/HtmlUtils.pug


block content
  .container
    .page-header
    h1 Authorization
    div.blue-box-border
      ul.nav.nav-tabs
        li.active
          a(href='#1' data-toggle='tab') Login
        li
          a(href='#2' data-toggle='tab') Register
      .tab-content
        #1.tab-pane.active
          if message && success
            .alert.alert-success #{message}
          if message && !success
            .alert.alert-danger #{message}
          
          form#login-form(action='/login' method='post')
            .form-group
              .row.row-mb
                .col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.col-sm-12
                  .input-group
                    span.input-group-addon
                      i.material-icons.icon-size(style='font-size: 1.2em')
                        | person
                    input.form-control.auth(type='text' name='username' placeholder='Username')
              .row
                .col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.col-sm-12
                  .input-group
                    span#basic-addon1.input-group-addon
                      i.material-icons(style='font-size: 1.2em')
                        | lock
                    input.form-control.auth(type='password' name='password' placeholder='Password')
            .row
              .col-md-offset-6.col-lg-offset-6.col-sm-offset-6.col-xs-offset-5
                button.btn.btn-primary(type='submit' form='login-form') Login
        #2.tab-pane
          form#form-register(action='/register' method='post')
            .form-group
              .row.row-mb
                .col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.col-sm-12
                  .input-group
                    span.input-group-addon
                      i.material-icons(style='font-size: 1.2em')
                        | alternate_email
                    input.form-control.auth(type="email" name='email' placeholder='Email')
              .row.row-mb
                .col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.col-sm-12
                  .input-group
                    span.input-group-addon
                      i.material-icons(style='font-size: 1.2em')
                        | person
                    input.form-control.auth(type='text' name='username' placeholder='Username')
              .row.row-mb
                .col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.col-sm-12.col-xs-12
                  .input-group
                    span#basic-addon1.input-group-addon
                      i.material-icons(style='font-size: 1.2em')
                        | lock
                    input.form-control.auth(type='password' name='password' placeholder='Password')
            .row
              .col-md-offset-6.col-lg-offset-6.col-sm-offset-6.col-xs-offset-5
                button.btn.btn-primary(type='submit' form='form-register') Register
      hr
