doctype html
html
  head
    title Ask Me Anything
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    
    link(rel='stylesheet', href='/bootstrap/css/styleMitja.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-social.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src="/javascripts/manageUserData.js")
    script(src="/javascripts/AuthUtils.js")
  body
    .container
        a.btn.btn-default(href='/db/remove') Delete data
        a.btn.btn-default(href='#') Insert data
  
  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')