extends layout

block content
    .container
      .page-header
        h1.header-style Edit an answer
      .alert.alert-info.blue-box-border(role='alert')
        p.lead Please follow the following editing rules:
        ul
          li Fix grammatical or spelling errors
          li Correct minor mistakes
          li Always respect the original author
          li Don't change the meaning of an answer
        p.lead
          | Thanks! 
          span.material-icons.happy-icon sentiment_satisfied_alt
      .blue-box-border
        form(action='', method='post', role='form')
          .form-group
            label.lead(for='body_text')
            textarea#text.form-control(name='text', type='text', rows='6', required='true', maxlength='200') 
              |
          button.btn.btn-primary(type='submit') Save edit