extends layout
include _include/HtmlUtils.pug

block content
 .container
  .page-header
    h1#ask-header Welcome to AskMeAnything website
  .alert.alert-info.blue-box-border(role='alert')
    p.lead Learn, Share, Build
    p
      | Each month, many people come to AskMeAnything to learn, share their knowledge.
  .questions
  hr
  div
    if (questions && questions.length > 0)
      each question, index in questions
        +question(question)
    else
       .alert.alert-warning
          strong #{message}
