doctype html
html
  head
    title Ask Me Anything
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    
    link(rel='stylesheet', href='/bootstrap/css/styleMitja.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-social.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
    script(src="/javascripts/manageUserData.js")
    script(src="/javascripts/AuthUtils.js")
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand#logo-background(href='/') AskMeAnything
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          form.search-bar.navbar-form.navbar-left(action='/search', method='GET')
            .form-group
              input.form-control(type='text', name="text" placeholder='What is your question')
            button.btn.btn-default(type='submit') Search
          ul.nav.navbar-nav.navbar-right
            li
              a.btn-default.btn(href='/question/new') Ask a question
            li
              a.btn-default.btn(href='/trending') Trending
            if locals.username
              li
                -imevSeji=locals.username
                -pot='/user/'+ imevSeji
                a.btn-default.btn(href=pot) My profile
              li
                a.btn-default.btn(href='/logout') Logout
            else
              li
                a.btn-default.btn(href='/authorization') Log in
              li
                a.btn-default.btn(href='/authorization') Sign up
    block content
  
  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')