extends layout

block content
      -var getDate = function() {
      -    var today = new Date();
      -    var dd = today.getDate();
      -    var mm = today.getMonth()+1;
      -    var yyyy = today.getFullYear();
      -    today = dd.toString() + '.' + mm.toString() + '.' + yyyy.toString();
      -
      -    return today;
      -};
      .container
        .page-header
          h1= title
          p.text-muted
            i
              | Asked by 
              -ime=author
              -potDoUporProfila='/user/'+ime
              a(href=potDoUporProfila) #{author}
              | , on #{getDate(date)}
          p.lead
            - pathAddQuestion = '/question/' + _id + '/answer/new'
            a(href=pathAddQuestion) Add an answer
            |  or 
            iframe(src='https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fsp-projekt-saula5.c9users.io%2Fquestion&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId', width='auto', height='20', style='border:none; overflow:hidden', scrolling='no', frameborder='0', allowTransparency='true', allow='encrypted-media')
          p.lead
            b #{numberOfAnswers} answers
          p
        .container
        -function compare(a, b) {
        -  var ratioA = a.numberOfLikes;
        -  var ratioB = b.numberOfLikes;
        -  if (a.numberOfDislikes != 0) {
        -     ratioA = ratioA / a.numberOfDislikes;
        -  }
        -  if (b.numberOfDislikes != 0) {
        -     ratioB = ratioB / b.numberOfDislikes;
        -  }
        -  
        -  let comparison = 0;
        -  if (ratioA > ratioB) {
        -    comparison = -1;
        -  } else if (ratioA < ratioB) {
        -    comparison = 1;
        -  }
        -  return comparison;
        -}
        - answersSorted = answers;
        - answersSorted = answersSorted.sort(compare);
          each answer in answersSorted
            .container-fluid.ans
              .row
                .col-xs-7.col-sm-8.col-md-9.col-lg-10
                  p.lead
                    | #{answer.text}
                .col-xs-3.col-sm-2.col-md-2.col-lg-1.thumb-glyph-up
                  p
                  - pathLike = '/question/' + _id + '/answer/' + answer._id + '/like'
                    a(href=pathLike)
                      span.glyphicon.glyphicon-thumbs-up.thumb-glyph-up
                    |  #{answer.numberOfLikes}
                .col-xs-2.col-sm-2.col-md-1.col-lg-1.thumb-glyph-down
                  p
                  - pathDislike = '/question/' + _id + '/answer/' + answer._id + '/dislike'
                    a(href=pathDislike)
                      span.glyphicon.glyphicon-thumbs-down.thumb-glyph-down
                    |  #{answer.numberOfDislikes}
              p.text-muted
                i
                  -ime=answer.author
                  -potDoUporProfila='/user/'+ime
                  | Answered by 
                  a(href=potDoUporProfila) #{answer.author}
                  | , on #{getDate(answer.date)}.
              p
                - pathAddComment = '/question/' + _id + '/answer/' + answer._id + '/comment/new'
                a.text-muted(href=pathAddComment)
                  span.text-success.text-muted.glyphicon.glyphicon-plus
                  |  Comment 
                - pathEditAnswer = '/question/' + _id + '/answer/' + answer._id + '/edit'
                a.text-muted(href=pathEditAnswer)
                  span.text-primary.glyphicon.glyphicon-pencil
                  |  Edit 
                - pathDeleteAnswer = '/question/' + _id + '/answer/' + answer._id + '/remove'
                a.text-muted(href=pathDeleteAnswer)
                  span.text-danger.glyphicon.glyphicon-remove
                  |  Remove this answer
              
              if answer.comments.length > 0
                hr
                p.lead
                  b
                    i Comments:
                hr
                .container
                  each comment in answer.comments
                    .row.comm
                      p
                        | #{comment.text}
                      p.text-muted.small
                        i
                          | Answered by 
                          -ime=comment.author
                          -potDoUporProfila='/user/'+ime
                          a(href=potDoUporProfila) #{comment.author}
                          | , on #{getDate(comment.date)}
                      hr
              hr.answer
        h3.end-of-answers End of answers