extends layout
include _include/HtmlUtils.pug

block content
 .container
  .page-header
    h1 Search
    b #{questions.length} questions found.
  hr
  div
    each question, index in questions
      +question(question)
