extends layout
include _include/HtmlUtils.pug

block content
 .container

  .page-header
    h1 Trending questions
  div(style='margin-bottom:20px')
    button.nav-buttons.btn.btn-default.navbar-btn(onclick="window.location.href='/trending'") All the time
    button.nav-buttons.btn.btn-default.navbar-btn(onclick="window.location.href='/trending?period=day'") Daily
    button.nav-buttons.btn.btn-default.navbar-btn(onclick="window.location.href='/trending?period=month'") Monthly
    button.nav-buttons.btn.btn-default.navbar-btn(onclick="window.location.href='/trending?period=year'") Yearly


    div 
      if(questions && questions.length > 0)
        each question in questions
          +question(question)
      else
      .alert.alert-warning
          strong #{message}