extends layout

block content
    script.
      var userGeslo = !{JSON.stringify(password)};
    // Modal
    #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        -potka='/user/'+locals.username+'/settings/avatarChange'
        form#form-insertAvatar(action=potka method='post')
          .modal-content
            .modal-header
              h5#exampleModalLongTitle.modal-title Change profile picture
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              input#linkURL.form-control(name='linkURL' placeholder='Insert link!' aria-describedby='sizing-addon2')
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
              button.btn.btn-primary(type='submit' form='form-insertAvatar') Save changes
    .container
      .page-header
        h3 Manage profile
      .container
        a.thumbnail.nastavitve-racuna-slika(href='#')
          img(src=avatar alt=username)
      .container.vCenter.lead
        p=username
        p Change profile picture
        button#spremeniSlikoFokus.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModalCenter')
          span.glyphicon.glyphicon-pencil(aria-hidden='true')
      br
      .container-fluid
        -pathExperienceChange = '/user/' + locals.username + '/settings/expChange'
        form#form-insertExperiences(action=pathExperienceChange method='post')
          .form-group
            label.lead
              h4
                | Fill out your experiences.
                h4
            .blue-box-border
              textarea#dodajIzkusnje.form-control(type='text' name='dodajIzkusnje' rows='8' placeholder="Show us what you're made of")= experiences
            br
            .container.vCenter
              span#prikazNapakeIzkusnje
              button#btnChgExp.btn.btn-default(type='submit' form='form-insertExperiences') Apply changes
      .page-header
        h3 Change Password
      -pathPassChange = '/user/' + username + '/settings/passChange'
      form#form-changePassword(action=pathPassChange, method='post' onsubmit='return submitPassCheck();')
        .container-fluid
        .row
          .col-6.col-sm-3
            h4 Old password: 
          .col-6.col-sm-3
            input#staroGeslo.form-control(name='staroGeslo', type='password', placeholder='Old password', aria-describedby='sizing-addon2')
        .row
          .col-6.col-sm-3
            h4 New password: 
          .col-6.col-sm-3
            input#novoGeslo1.form-control(name='novoGeslo1', type='password', placeholder='New password', aria-describedby='sizing-addon2')
        .row
          .col-6.col-sm-3
            h4 Confirm new password: 
          .col-6.col-sm-3
            input#novoGeslo2.form-control(name='novoGeslo2', type='password', placeholder='Confirm password', aria-describedby='sizing-addon2')
            br
            span#prikazNapakeGeslo
            button#btnChgPass.btn.btn-default(form='form-changePassword', type='submit') Change password
        <br>