extends layout

block content
    script.
      var userIme = !{JSON.stringify(username)};
    script.
     -namee=locals.username
      var logIme=namee
    .container
      .page-header
        -niz=username+'\'s profile'
        h3=niz
      .container-fluid
        .row
          .col-md-4.col-md-offset-4
            a.thumbnail(href='#')
              img(src=avatar alt=username)
            .vCenter
              h4=locals.username
      .container.header-style
        if locals.username==username
        alert("aaa")
        -ime=locals.username
        - pathSettings = '/user/' + ime + '/settings'
        a#gumbProfile.btn.btn-primary(href=pathSettings) Profile settings 
        end
      .container-fluid
        .row
          .col-xs-12.col-sm-12.col-md-12
            .blue-box-border-profile
              .vCenter
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      a(href='') Questions
                      span.badge #{numberOfQuestions}
                  .panel-body
                    each question in questions
                      ul
                        li
                          a(href='/question/' + question._id)= question.title
      br
      .container-fluid
        .row
          .vCenter
            .col-xs-12.col-sm-6.col-md-6
              .vCenter
                .blue-box-border-profile
                  .panel.panel-default
                    .panel-heading
                      h3.panel-title Knowledge base
                    .panel-body #{experiences}
            .col-xs-12.col-sm-6.col-md-6
              .blue-box-border-profile
                .panel.panel-default
                  .panel-heading
                    h3.panel-title Reputation
                  .panel-body
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Like / Disklike ratio: 
                    font(color='green') #{likes}
                    |  / 
                    font(color='red') #{dislikes}
    
    br
