/* Style the image inside the centered container, if needed */

.blue-box-border-profile {
	box-shadow: 0px 0px 10px 0px rgba(24,126,189,1);
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
}

.nastavitve-racuna-slika {
	padding: 10px;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.btn-v-center {
	margin-left: auto;
	margin-right: auto;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    /*background-color: #F09A9D;*/ /* Red */
	font-family: 'Raleway', sans-serif;
  }
 

	.panel { 
		height: 200px;
		max-height: 200px; 
		word-wrap: break-word;
		overflow-wrap: break-word;
		overflow-y: auto;
		overflow:hidden; 
	}

	.vl {
		border-left: thin solid #D3D3D3;
		color: #0000;
		height: 75%;
		position: absolute;
		left: 50%;
		top: 20%;
	}

	.vCenter {
		text-align: center;
	}

	.stvariCenter {
		margin: 0 auto;
	}

	.txtA{
		resize: none;
		min-width: 520px;
		min-height: 220px;
	}
	
	.centerButton {
		margin: 0 auto; 
		/*width: 2700px;*/
		width: 50%;
	}
	
	.centerDiv {
		display: flex; 
		flex-direction: column; 
		justify-content: center; 
		align-items: center;
	}
	
	#topSlika{
		margin: 0 auto;
		width: 100%; 
		padding-left: 70px;
	}
	
	#odmikDve{
		padding-left: 330px;
	}
	
	#question{
		max-width: 100%;
		height: 250px;
		resize: none;
	}
	
	.blue-box-border {
		box-shadow: 0px 0px 10px 0px rgba(24,126,189,1);
		padding: 10px;
	}
	
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    /*background-color: #F5CF8E;*/ /* Yellow */
	font-family: 'Raleway', sans-serif;
  }
  

	.panel { 
		height: 200px;
		max-height: 200px; 
		word-wrap: break-word;
		overflow-wrap: break-word;
		overflow-y: auto;
		overflow:hidden;
	}

	.vl {
		border-left: thin solid #D3D3D3;
		color: #0000;
		height: 75%;
		position: absolute;
		left: 50%;
		top: 20%;
	}

	.vCenter {
		text-align: center;
	}

	.stvariCenter {
		margin: 0 auto;
	}

	.txtA{
		resize: none;
		min-width: 520px;
		min-height: 220px;
	}
	
	.centerButton {
		margin: 0 auto; 
		/*width: 1500px;*/
		width: 50%;
	}
	
	.centerDiv {
		display: flex; 
		flex-direction: column; 
		justify-content: center; 
		align-items: center;
	}
	
	#topSlika{
		margin: 0 auto;
		width: 100%; 
		padding-left: 20%;
	}
	
	#odmikDve{
		padding-left: 330px;
	}
	
	#question{
		max-width: 100%;
		height: 250px;
		resize: none;
	}
	
	.blue-box-border {
		box-shadow: 0px 0px 10px 0px rgba(24,126,189,1);
		padding: 10px;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    /*background-color: #B2D6FF;*/ /* Blue */
	font-family: 'Raleway', sans-serif;
  }

	.panel { 
		height: 200px;
		max-height: 200px; 
		word-wrap: break-word;
		overflow-wrap: break-word;
		overflow-y: auto;
		overflow:hidden;
	}

	.vl {
		border-left: thin solid #D3D3D3;
		color: #0000;
		height: 75%;
		position: absolute;
		left: 50%;
		top: 20%;
	}

	.vCenter {
		text-align: center;
	}

	.stvariCenter {
		margin: 0 auto;
	}

	.txtA{
		resize: none;
		min-width: 520px;
		min-height: 220px;
	}
	
	.centerButton {
		margin: 0 auto; 
		width: 20%;
	}
	
	.centerDiv {
		display: flex; 
		flex-direction: column; 
		justify-content: center; 
		align-items: center;
	}
	
	#topSlika{
		margin: 0 auto;
		width: 200%; 
		padding-left: 20%;
	}
	
	#odmikDve{
		padding-left: 330px;
	}
	
	#question{
		max-width: 100%;
		height: 250px;
		resize: none;
	}
	
	.blue-box-border {
		box-shadow: 0px 0px 10px 0px rgba(24,126,189,1);
		padding: 10px;
	}
}

#spremeniSlikoFokus{
	overflow: hidden;
    position: relative;
}

input[type="file"] {
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}