.thumb-glyph-up {
	font-size: 20px;
	text-align: center;
	color: green;
}

.thumb-glyph-down {
	font-size: 20px;
	text-align: center;
	color: red;
}

.answer {
	border-style: solid;
	border-color: #3399ff;
	border-width: 1.2px;
	border-radius: 3px;
}

.nav-buttons {
    margin-left: 6px;
}

.header-style {
    text-align: center;
}

body {
    font-family: 'Raleway', sans-serif;
}

.body-toolbar {
	margin-bottom: 10px;
}

.blue-box-border {
	box-shadow: 0px 0px 10px 0px rgba(24,126,189,1);
	border-radius: 5px;
	padding: 20px;
}

textarea {
	resize: None;
}

.answer-box {
	box-shadow: 0px 0px 8px 0px rgba(100,100,100,0.3);
	border-radius: 5px;
	padding: 20px;
}

.end-of-answers {
	text-align: center;
	padding: 5px;
}

.comment-picture {
	max-width: 40%;
	margin: 5px;
	box-shadow: 0px 0px 18px 1px rgba(50,50,50,0.3);
}

.picture-container {
	margin-bottom: 20px;
}

.fa {
	padding: 8px 13px;
	border-radius: 6px;
	text-decoration: none;
}


.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.solved {
	box-shadow: 0px 0px 15px 0px rgba(0,197,0,1);
	border-radius: 5px;
	padding: 20px;
}